a{
    text-decoration:none;
    color:black;
}
a:hover{
    color:grey;
}
#logo{
    margin-top:-2%;
    margin-left:-2%;
}

div#landmark{
    position:relative;
    width:10%;
    height:14%;
    margin-top:-4%;
    margin-left:3%;
    font-family: "Impact";
    font-size:1.3em;

}

.quadro{
    margin-top:3%;
}

#content{
    position:relative;
    margin-left:30%;
    padding-right:2%;
    margin-top: 4%;
    color:grey;
    font-family: "Impact";
    font-size:1.6em;
}

h2{
    position:relative;
    margin-top: -10%;
    margin-left:50%;
}

#orientation{
    position:relative;
    margin-left:42%;
    margin-top:5%;
}
a.link{
    font-family:"Impact";
    font-size:1.3em;
    margin-left:2%;
}